@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
html {
  background: #292929;
  background-image: url("../img/stardust.png");
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 30px;
}
h1 {
  font-weight: 700;
  color: white;
  text-align: center;
  font-size: 50px;
  letter-spacing: -3px;
}
p {
  color: white;
  text-align: center;
  font-size: 20px;
}
img.os {
  margin: 0px auto;
  display: block;
  padding: 20px 0;
  height: 120px;
  width: 120px;
}
img.logo {
  margin: 0px auto;
  display: block;
  padding: 20px 0;
  opacity: 0.5;
}
a.button {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
}
a.button.twitter {
  background: #00aced;
  border-bottom: 5px solid #0099d4;
}
a.button.linkedin {
  background: #007bb6;
  border-bottom: 5px solid #006a9d;
}
a.button.website {
  background: #dd4b39;
  border-bottom: 5px solid #d73925;
}
.tossing {
  animation-name: tossing;
  -webkit-animation-name: tossing;
  animation-duration: 2.5s;
  -webkit-animation-duration: 2.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes tossing {
  0% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(-4deg);
  }
}
@-webkit-keyframes tossing {
  0% {
    -webkit-transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(4deg);
  }
  100% {
    -webkit-transform: rotate(-4deg);
  }
}
