<h1>Message from the Founders</h1>

<p>2013 has been a whirlwind for us, and it&rsquo;s hard to believe we have only been together as a team for seven months. When we founded Innohub this past Spring 2013, we knew great things would soon happen. Our approach never changed &ndash; we listen closely to our clients and their customers to deliver products that leverage the most advanced mobile and web technologies to solve market pain points. Our curiosity and passion for disruptive innovation is what drives us to build on our past success to be continuously producing great products and ideas. We&rsquo;d like to thank our mentors, our partners, the Digital Media Zone, SDI Marketing, and all our clients who keep us moving towards bigger and better things. Now after launching Uplette and collaborating with some amazing brands, we can&rsquo;t wait to see what 2014 will hold for us.<br />
<br />
<img align="none" height="401" src="https://gallery.mailchimp.com/cc958f305c4d1015dad13d7d5/images/team.png" style="width: 600px; height: 401px;" width="600" /></p>

<h1>Innohub Updates and Highlights from 2013:</h1>

<h3>Bringing a digital twist to the Pepsi Taste Challenge with Uplette</h3>

<p>This past summer, Innohub worked with SDI Marketing and Pepsi Canada to create a more interactive brand experience for their experiential marketing campaign, the Pepsi Taste Challenge.</p>

<p>Using Innohub&rsquo;s flagship product, Uplette, customers were able to snap photos during the challenge and at Pepsi Pop-Up locations to share it through their social media networks using their own device. This provided Pepsi with in-depth social data on their customers, while allowing users to connect with the brand on a deeper level. Additionally, Innohub designed the Pepsi Scratch App for participants to use after taking the Taste Challenge. Individuals scratched a virtual card to win prizes. Using a sophisticated algorithm, the probability of winning was adjustable based on Pop-Up location, foot traffic and prize inventory. Both the Pepsi Photo App and Pepsi Scratch Card App allowed consumers to interact with the brand without downloading an additional application to a smartphone or tablet.</p>
<strong>Results:</strong>

<ul>
	<li>1922% campaign virality and 65% conversions for the Pepsi Taste Challenge</li>
	<li>2544% campaign virality and 38% conversions at the Pepsi Pop-up space.</li>
</ul>
<br />
<img align="none" height="247" src="https://gallery.mailchimp.com/cc958f305c4d1015dad13d7d5/images/Portfolio_02.png" style="width: 400px; height: 247px;" width="400" /><br />
<br />
<a class="learnmoreabout" href="">Learn more about Uplette</a>

<h3>Uplette Dashboard and Plans for 2014</h3>

<p>As 2013 comes to a close, we are getting ready to launch the new Uplette dashboard, which will be a one-stop shop for campaign stakeholders to gather reporting analytics, customer insights, segmented campaign lists, campaign editing tools, and more. Uplette&rsquo;s comprehensive and customizable dashboard provides marketers, advertisers, designers and directors with the tools they need to create, publish and edit their campaigns. The simple interface, extensive design tools, and selection of design templates enable users with minimal and advanced technical knowledge to create campaigns that align with the organization&rsquo;s business objectives.</p>

<p>In 2014, Innohub will integrate Uplette with existing real-time bidding platforms to optimize mobile ad impressions and improve the customer experience. Uplette&rsquo;s social integrations and feedback loop for real-time campaign results provide RTBs with unparalleled ability to target their desired consumer. Stay tuned for details on exciting developments in the new year!<br />
<br />
<img align="none" height="251" src="https://gallery.mailchimp.com/cc958f305c4d1015dad13d7d5/images/Portfolio_01.1.png" style="width: 400px; height: 251px;" width="400" /></p>
<a class="learnmoreabout" href="">Contact us to learn more about Uplette features</a>

<h3>Helping PC Financial Learn More About Their Customers&rsquo;&nbsp;</h3>

<p>In 2014, we&rsquo;re excited to announce our newest project with PC Financial, launching in January. President&rsquo;s Choice Financial enlisted Innohub, in partnership with SDI Marketing to build a loyalty questionnaire app for their experiential marketing campaign to help participants learn more about PC Financial and encourage them to register for PC Financial products. The interactive iOS design features a unique PC-branded digital shopping cart experience that aligns with the monthly shopping habits of the participant. In 2014, the app will be integrated with Uplette to deliver customized PC Financial offers and information to the participants&rsquo; mobile devices based on their questionnaire responses. Uplette will also leverage LEB and WIFI technologies to deliver personalized PC Financial landing pages to shoppers&rsquo; mobile devices as they enter the store, this will extend the reach of the campaign far beyond the experiential activities of the brand ambassadors.<br />
<br />
<img align="none" height="308" src="https://gallery.mailchimp.com/cc958f305c4d1015dad13d7d5/images/Portfolio_04.png" style="width: 400px; height: 308px;" width="400" /><br />
&nbsp;</p>

<h1>Mobile Marketers Who Are Rocking It This Holiday Season</h1>

<p>It&rsquo;s official, the holiday shopping season is in full swing. With consumers spending extra hours in stores this time of year, marketers are turning to mobile to drive sales and enhance the in-store experience.</p>

<p>Here are a few Innohub approved marketing campaigns, leveraging mobile and digital to better interact with consumers.</p>

<ol>
	<li><strong>Macy&rsquo;s taking personalized shopping to another level with Shopkick</strong>

	<p>Ever walked into a store and wondered what&rsquo;s on sale? Macy&rsquo;s, with the help of mobile shopping app Shopkick, is making sure customers don&rsquo;t miss out on holiday deals by sending personalized notifications directly to their smartphones.</p>

	<p>When Shopkick users step into Macy&rsquo;s New York or San Francisco locations, they&rsquo;ll receive a mobile message asking if they&rsquo;d like to opt-in to receive special notifications of deals. Customers in-store locations are then tracked - if they walk by the electronics department, they will receive a message telling you which big screen TVs are on sale. This is all possible with Apple&rsquo;s new iBeacon technology, a geo-location tool that lets brands target compatible iOS users based on their location. If all goes well, Macy&rsquo;s will adopt this system year round - meaning shoppers could be seeing a very personalized in-store experience permanently.</p>
	</li>
	<li><strong>Best Buy goes back to basics with SMS</strong>
	<p>Mobile marketers have a lot of love for smartphones this year, but Best Buy is making sure we don&rsquo;t forget about our other cell phone friends. Consumers can opt-in to receive text messages, from the retailer, by sending keyword &ldquo;HOLIDAY&rdquo; to 332211. Each day Best Buy will promote a new sale via text message. Customers can click a link in each message which takes them directly to the company&rsquo;s website.</p>

	<p>Just because they&rsquo;ve gone with old-school strategies doesn&rsquo;t mean they&rsquo;re neglecting their smartphone users. Best Buy recently relaunched their app and loyalty program to emphasize the in-store shopping experience. When customers shop in-store they can now &ldquo;check-in&rdquo; via the Best Buy app and receive special deals when they do.</p>
	</li>
	<li><strong>Uber harnesses the power of mobile for a good cause</strong>
	<p>UberSLEIGH is a charitable campaign, launched by the San Francisco-based startup, which lets individuals use the car service to deliver toy donations. On December 19th, Torontonians can use the Uber app to order a fancy black car, which will take gifts to CP24&rsquo;s CHUM Christmas Wish Toy Drive free of charge. As a thank you for their holiday spirit, donators will receive a $20 coupon to a future Uber ride. What better way to marry mobile marketing with charitable giving.</p>
	</li>
</ol>
