<a href="<?php echo wp_logout_url( get_permalink() ); ?>" title="Logout">Logout</a>

<ul><?php pll_the_languages();?></ul>

<?php if (!is_user_logged_in()) { auth_redirect(); } ?>

// Disable Backend for Non-Admins
add_action('admin_init', 'no_mo_dashboard');
function no_mo_dashboard() {
  if (!current_user_can('manage_options') && $_SERVER['DOING_AJAX'] != '/wp-admin/admin-ajax.php') {
  wp_redirect(home_url()); exit;
  }
}
// Disable Menu Bar for Non-Admins
add_action('after_setup_theme', 'remove_admin_bar');
function remove_admin_bar() {
if (!current_user_can('administrator') && !is_admin()) {
  show_admin_bar(false);
}
}
